.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/407/713/desktop-wallpaper-in-celebration-of-whatsapps-dark-mode-whatsapp-aesthetic.jpg);
    color: white;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap : 10px;
    flex-direction: row;
    border-bottom: 1px solid #3d3f3f;
    margin-bottom: 20px;
    background-color: #161717;
}

.chat-header-left {
    display: flex;
    align-items: center;
    gap : 10px;
    flex-direction: row;
    padding: 15px;
    background-color: #161717;
}

.chat-header-right{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    padding: 15px;
    background-color: #161717;
    font-size: 20px;
}

.delete-all-messages-button {
    padding: 8px 16px;
    background-color: #19452c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
}

.delete-all-messages-button:hover {
    background-color: #16241c;
}

.contact-status{
    color: #a7a8a8;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

h2{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

